<div class="wrapper">
    <div class="logo">
        <img src="http://localhost:8080/img/icono.png" alt="">
    </div>
    <div class="text-center mt-4 name">
        Se ha cambiado la contraseña
    </div>
    {{#if error}}
    <div>
        <p style="color: rgb(129, 44, 44)">{{error}}</p>
    </div>
    {{/if}}
        {{#if success}}
    <div>
        <p style="color: rgba(70, 194, 101, 0.932)">{{success}}</p>
    </div>
    {{/if}}
    <div class="text-center fs-6">
        <a href="/login">Regresar</a>
    </div>

</div>