<H1>{{title}}{{_id}}</H1>
<H2>su orden de compra esta por un valor de {{ticket.amount}}.</H2>
<H2>Se ha realizado su pedido con el codigo {{ticket.code}}.</H2>
<H2>Gracias por realizar su compra.</H2>
<a href="/products" role="button" class="button">Volver al inicio</a>